{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Nova postagem: </h4>
        <form action="/admin/postagens/nova" method="POST" >
            <label for="titulo">Título: </label>
            <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Título da postagem">

            <label for="slug">Slug: </label>
            <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da postagem">

            <label for="descricao">Descrição: </label>
            <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição da postagem">

            <label for="conteudo">Conteúdo: </label>
            <textarea class="form-control" name="conteudo" id="conteudo"></textarea>

            <label for="categoria">Categoria: </label>
            <Select class="form-select" name="categoria" id="categoria" >
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </Select>
            <br>
            
            <button type="submit" class="btn btn-success">Criar postagem</button>

        </form>
    </div>
</div>